.infoTable {
  width: 100%;
}

.infoTable th,
.infoTable td {
  padding: var(--rui-spacing-1) var(--rui-spacing-2);
  border: 1px solid var(--rui-color-gray-200);
}

.infoTable th {
  max-width: 100px;
  text-align: left;
}

.image {
  width: 100%;
}
