.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: var(--rui-color-primary);
}

.headerTitle {
  // stylelint-disable-next-line declaration-no-important
  margin-bottom: 0 !important;
  font-size: var(--rui-typography-size-2);
  color: var(--rui-color-white);
}

.content {
  flex: 1;
  padding: 2em;
}

.tabContent {
  padding: 1rem;
  border-right: 1px solid var(--rui-color-gray-200);
  border-bottom: 1px solid var(--rui-color-gray-200);
  border-left: 1px solid var(--rui-color-gray-200);
  background-color: var(--rui-color-white);
}

.footer {
  padding: 1em 2em;
  font-size: var(--rui-typography-size-small);
  color: var(--rui-color-gray-800);
  background-color: var(--rui-color-gray-100);
}
